<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\tunoa\source\repos\TournamentTrackerv1\TournamentTracker.NetPracticeProgram\data"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=Toons;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
